#btn_return {
    -fx-border-radius: 10px;
    -fx-text-fill: #e4e5ea;
    -fx-background-color: rgba(167, 89, 128, 0.3);
    -fx-border-style: solid;
    -fx-border-color: #9b59b6;
    -fx-font-size: 20px;
    -fx-padding: 30px;
    -fx-border-insets: 30px;
    -fx-background-insets: 30px;
}

#btn_return:hover {
    -fx-border-color: #3bb5ff;
    -fx-background-color: rgba(30, 127, 167, 0.3);
}

#title {
    -fx-font-family: Arial;
    -fx-font-size: 34px;
    -fx-label-padding: 20px 0;
    -fx-text-fill: #ffffff;
}

#btn_return_to_menu {
    -fx-border-radius: 10px;
    -fx-text-fill: #e4e5ea;
    -fx-border-style: solid;
    -fx-border-color: #3bb5ff;
    -fx-font-size: 15px;
    -fx-background-color: transparent;
}

#btn_return_to_menu:hover {
    -fx-border-color: #9b59b6;
}

#txtMusique, #txtSound {
    -fx-text-fill: #e4e5ea;
    -fx-font-size: 12px;
    -fx-padding: 10px 0;
}

#txtSound {
    -fx-padding: 40px 0 5px 0;
}

#sliderMusique .track, #sliderBruitage .track {
    -fx-pref-height: 20;
    -fx-border-style: solid;
    -fx-border-color: #ffffff;
    -fx-border-radius: 100px;
    -fx-font-size: 10px;
    -fx-background-color: transparent;
    -fx-padding: 0 80px;
}

#sliderMusique .thumb, #sliderBruitage .thumb {
    -fx-background-color: #ffffff;
    -fx-pref-height: 25;
    -fx-pref-width: 25;
}