#bg{
    -fx-background-image: url("../ressources/background.jpg");
    -fx-background-position: left top, center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover, auto;
}
#btn_play{
    -fx-text-fill: #e4e5ea;
    -fx-background-color: transparent;
    -fx-border-style: solid;
    -fx-border-radius: 10px;
    -fx-label-padding: 10px 25px;
    -fx-border-color: #e4e5ea;
    -fx-font-size: 30px;
}

#btn_play:hover{
    -fx-text-fill: #26e2ff;
    -fx-border-color: #26e2ff;
}
#btn_settings{
    -fx-text-fill: #e4e5ea;
    -fx-background-color: transparent;
    -fx-font-size: 20px;
}
#btn_settings:hover{
    -fx-text-fill: #8beae4;
    -fx-cursor: hand;
}
#btn_return{
    -fx-text-fill: #e4e5ea;
    -fx-background-color: transparent;
    -fx-border-style: solid;
    -fx-border-radius: 10px;
    -fx-label-padding: 20px 25px;
    -fx-border-color: #e4e5ea;
    -fx-font-size: 20px;
}
#btn_return:hover{
    -fx-text-fill: #26e2ff;
    -fx-border-color: #26e2ff;
}
#btn_option1:hover{
    -fx-text-fill: #8beae4;
    -fx-border-color: #8beae4;
}
#btn_option2:hover{
    -fx-color-label-visible:#8beae4 ;
    -fx-text-fill: #8beae4;
    -fx-border-color: #8beae4;
}

#btn_return {
    -fx-border-radius: 10px;
    -fx-text-fill: #e4e5ea;
    -fx-background-color: rgba(167, 89, 128, 0.3);
    -fx-border-style: solid;
    -fx-border-color: #9b59b6;
    -fx-font-size: 20px;
    -fx-padding: 30px;
    -fx-border-insets: 30px;
    -fx-background-insets: 30px;
}

#btn_return:hover {
    -fx-border-color: #3bb5ff;
    -fx-background-color: rgba(30, 127, 167, 0.3);
}

#title {
    -fx-font-family: Arial;
    -fx-font-size: 34px;
    -fx-label-padding: 20px 0;
    -fx-text-fill: #ffffff;
}

#btn_return_to_menu {
    -fx-border-radius: 10px;
    -fx-text-fill: #e4e5ea;
    -fx-border-style: solid;
    -fx-border-color: #3bb5ff;
    -fx-font-size: 25px;
    -fx-background-color: transparent;
    -fx-padding: 9px;
}

#btn_return_to_menu:hover {
    -fx-border-color: #9b59b6;
}

#txtMusique, #txtSound {
    -fx-text-fill: #e4e5ea;
    -fx-font-size: 12px;
    -fx-padding: 10px 0;
}

#txtSound {
    -fx-padding: 40px 0 5px 0;
}

#sliderMusique .track, #sliderBruitage .track {
    -fx-pref-height: 20;
    -fx-border-style: solid;
    -fx-border-color: #ffffff;
    -fx-border-radius: 100px;
    -fx-font-size: 10px;
    -fx-background-color: transparent;
    -fx-padding: 0 80px;
}

#sliderMusique .thumb, #sliderBruitage .thumb {
    -fx-background-color: #ffffff;
    -fx-pref-height: 25;
    -fx-pref-width: 25;
}
#checkBonnus, #checkMalus, #checkSpeed{
    -fx-padding: 10px;
    -fx-text-fill: #ffffff;
}
#checkBonnus .box, #checkMalus .box, #checkSpeed .box {
    -fx-background-color: transparent;
    -fx-border-color: #ffffff;
    -fx-border-radius:0;
    -fx-pref-height: 25px;
    -fx-pref-width: 25px;
}

#checkBonnus:selected .mark, #checkMalus:selected .mark, #checkSpeed:selected .mark {
    -fx-background-color: #ffffff;
}

#freqCombo {
    -fx-pref-width: 300px;
    -fx-background-color: transparent;
    -fx-border-color: white;
    -fx-text-fill: #ffffff;
}
.combo-box .list-cell{
    -fx-background-color: transparent;
    -fx-pref-width: 300px;
    -fx-text-fill:#ffffff;
    -fx-border-color: #ffffff;
}
.combo-box .list-view .list-cell{
    -fx-text-fill: black;
}
#freqLabel{
    -fx-text-fill:#ffffff;
}
